html {
    font-family: "Jersey 15", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title {
    font-size: 30px;
    margin-bottom: 20px;
    width: 50%;
    background: linear-gradient(to right, rgb(235, 106, 97), rgb(126, 23, 5));
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#new-game {
    font-family: inherit;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
}

#game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#player-title {
    background: linear-gradient(to right, rgb(92, 175, 214), rgb(18, 88, 179));
    color: white;
}

#computer-title {
    background: linear-gradient(to right, rgb(122, 122, 122), rgb(47, 47, 48));
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    margin-top: 20px;
}

.board-title {
    font-size: 24px;
    border-radius: 5px;
    padding: 10px;
}

.board-square {
    width: 30px;
    height: 30px;
    border: solid 2px black;
    font-size: 24px;
    text-align: center;
}

.hit {
    background-color: red;
    color: white;
}

.ship-hit {
    background-color: green;
    color: white;
}

#new-game-form {
    display: none;
    position: absolute;
    top: 5vh;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    background: linear-gradient(to right, rgb(233, 205, 45), rgb(190, 163, 6));
    color: white;
    border-radius: 5px;
    border: solid 3px white;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;

}

.form-row {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid 2px white;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
}

.form-row p {
    grid-row: 1/4;
    grid-column: 1/2;
}

.form-row label {
    margin-left: auto;
}

.form-row input {
    border-radius: 3px;
    border: none;
    width: 1.5rem;
}

#start-game {
    font-family: inherit;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: black;
    align-self: center;
}